/*
	General Styles
**********************************************************************/
body {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 62.5%;
	min-width: 320px;
	text-align: center;
/*	width: 290px;*/
}

/*
	Straight Clearfixin' Y'all
**********************************************************************/
header:after,
section:after,
section section details:after,
footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Headings
**********************************************************************/
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}

/*
	Shared Structure
**********************************************************************/
header,
section,
footer {
	margin: 20px auto;
	max-width: 60em;
	padding: 0 20px;
	text-align: left;
}

/*
	Header
**********************************************************************/
header {}
header img {
	display: block;
	float: left;
	height: 200px;
	margin-right: 20px;
	width: 200px;
}
header hgroup {
	text-align: right;
}
header h1 {
	color: #333;
	font-size: 7em;
	font-weight: bold;
	margin: 0 0 10px;
	text-shadow: #ccc 2px 2px;
}
header h2 {
	color: #666;
	font-size: 2em;
	font-weight: bold;
	margin: 3px 0;
	text-shadow: #ddd 1px 1px;
}
header nav {
	display: none;
}
header a {
	color: #666;
	text-decoration: none;
}

/*
	Content
**********************************************************************/
section {
	margin: 30px auto;
}
section h2 {
	border-bottom: 1px #ccc solid;
	color: #666;
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px 0;
	padding: 0 0 3px;
	text-align: right;
	text-shadow: #ccc 1px 1px;
	text-transform: uppercase;
}
section section {
	border-bottom: 1px #ccc solid;
	margin: 10px 0;
	padding: 0;
}
section section:last-child {
	border-bottom: 0 none;
}
section h3 {
	color: #333;
	font-weight: bold;
	margin: 0 0 5px;
	text-shadow: #ccc 1px 1px;
}
section h4 {
	color: #333;
	font-weight: bold;
	margin: 0 0 0 20px;
	text-shadow: #ccc 1px 1px;
}
section section details,
section section p,
section section ul {
	margin: 5px 0 10px;
}
section section details dl,
section section details dt,
section section details dd {
	float: left;
}
section section details dt {
	font-size: 1em;
	line-height: 1.4em;
	margin-right: 3px;
}
section section details dd {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
	margin-right: 15px;
}

a {
	color: #222;
	font-weight: bold;
}
p {
	font-size: 1.2em;
	line-height: 1.4em;
}
ul {
	list-style-type: square;
	padding: 0 0 0 40px;
}
ul li {
	font-size: 1.2em;
	line-height: 1.4em;
}


section h1 a,
section h2 a,
section h3 a,
section h4 a {
	color: #444;
	background: url('./anchor.png') right center no-repeat;
	padding-right: 1.2em;
	text-decoration: none;
}

/*
	Footer
**********************************************************************/
footer {
	display: none;
}

/*
	Media Queries
**********************************************************************/
@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 320px) {}