/*
	General Styles
**********************************************************************/
body {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 62.5%;
	min-width: 320px;
	text-align: center;
/*	width: 290px;*/
}
a {
	color: #;
}
p {
	font-size: 1.2em;
}

/*
	Headings

	text-shadow: white 0px 1px;
**********************************************************************/
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}
h1 a,
h2 a,
h3 a,
h4 a {
	color: #444;
	background: url('./anchor.png') right center no-repeat;
	padding-right: 1.2em;
	text-decoration: none;
}




/*
	Lists
**********************************************************************/
dl {}
dl dt {}
dl dd {}

ul {}
ul li {}

ol {}
ol li {}

/*
	Shared Structure
**********************************************************************/
header,
section,
footer {
	margin: 20px auto;
	max-width: 60em;
	padding: 0 20px;
	text-align: left;
}

/*
	Header
**********************************************************************/
header {}
header nav {
	display: none;
}

/*
	Content
**********************************************************************/
section {}
section section {
	margin: 0;
	padding: 0;
}

/*
	Footer
**********************************************************************/
footer {}

/*
	Media Queries
**********************************************************************/
@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 320px) {}