/*
	General Styles
**********************************************************************/
body {
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 62.5%;
	min-width: 320px;
	text-align: center;
/*	width: 290px;*/
}
a {
	color: #;
}
p {
	font-size: 1.2em;
}


/*
	Straight Clearfixin' Y'all
**********************************************************************/
header:after,
section:after,
footer:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
	Headings

	text-shadow: white 0px 1px;
**********************************************************************/
h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}

/*
	Lists
**********************************************************************/
dl {}
dl dt {}
dl dd {}

ul {}
ul li {}

ol {}
ol li {}

/*
	Shared Structure
**********************************************************************/
header,
section,
footer {
	margin: 20px auto;
	max-width: 60em;
	padding: 0 20px;
	text-align: left;
}

/*
	Header
**********************************************************************/
header {}
header img {
	display: block;
	float: left;
	height: 200px;
	margin-right: 20px;
	width: 200px;
}
header hgroup {
	text-align: right;
}
header h1 {
	font-size: 7em;
	font-weight: bold;
}
header nav {
	display: none;
}
header a {
	color: #444;
	text-decoration: none;
}

/*
	Content
**********************************************************************/
section {}
section section {
	margin: 0;
	padding: 0;
}

section h1 a,
section h2 a,
section h3 a,
section h4 a {
	color: #444;
	background: url('./anchor.png') right center no-repeat;
	padding-right: 1.2em;
	text-decoration: none;
}

/*
	Footer
**********************************************************************/
footer {}

/*
	Media Queries
**********************************************************************/
@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 320px) {}