<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>timmyfury{% if page.title %} >> {{page.title}}{% endif %}</title>
	<link type="text/css" rel="stylesheet" href="/c/screen.css"/>
</head>
<body>
	<div id="header">
		<div class="section">
			<h1>{% if page.title %}{{ page.title }}{% else %}{% endif %}</h1>
		</div>
	</div>

	<div id="summary">
		<div class="section">
		{% if page.summary %}
			<h2>{{ page.summary }}</h2>
		{% endif %}
		</div>
	</div>
	
	<div id="content">
		{{ content }}
	</div>

	<div id="footer">
		<div class="section">
			<p>&copy; 2010 It's all mine bitches</p>
		</div>
	</div>
</body>
</html>